<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-85 p-b-20">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-70">
          Dobrodosli na stranicu za registrovanje
        </span>
        <span class="login100-form-avatar">
          <img src="/src/assets/img/avatar-01.jpg" alt="AVATAR">
        </span>

        <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Uneti ime">
          <input class="input100" type="text" name="name">
          <span class="focus-input100" data-placeholder="Ime"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-50" data-validate = "Uneti prezime">
          <input class="input100" type="text" name="surname">
          <span class="focus-input100" data-placeholder="Prezime"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-50" data-validate = "Uneti email">
          <input class="input100" type="text" name="email">
          <span class="focus-input100" data-placeholder="Email"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-50" data-validate = "Uneti korisnicko ime">
          <input class="input100" type="text" name="username">
          <span class="focus-input100" data-placeholder="Korisnicko ime"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-50" data-validate="Uneti lozinku">
          <input class="input100" type="password" name="pass">
          <span class="focus-input100" data-placeholder="Lozinka"></span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Registracija
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

